@model Geekon.Models.Projects

@{
    ViewData["Title"] = "Create";
}

<div class="modal" id="addProject" style="color:white;">
    <div style="        background-color: #101d13;
        box-shadow: 0 0 20px rgb(221 221 221); display:flex;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 600px;
        width: 700px;
        border-radius: 15px;">
        <h4>Create Project</h4>
        <form asp-action="Create">
            <div class="input-data">
                <input asp-for="ProjName" required>
                <div class="underline"></div>
                <label asp-for="ProjName"></label>
                <span asp-validation-for="ProjName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input id="ProjImagePath" asp-for="ProjImagePath" class="form-control" value="leaves3.jpg" type="hidden" />
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="projCreateButton" />
            </div>
        </form>

        <div class="swiper" style="padding:60px 0 60px 0;">
            <div class="swiper-wrapper">
                @foreach (var slides in ViewData["projBack"] as List<string>)
                {
                    <div id="@slides" class="swiper-slide" style="background-image:url('../projBack/@slides'); background-size:cover;"></div>
                }
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </div>
</div>

<script>
    var swiper = new Swiper('.swiper', {
        loop: true,
        spaceBetween: 60,
        slidesPerView: 3,
        centeredSlides: true,
        slideToClickedSlide: true,

        pagination: {
            el: '.swiper-pagination',
            clickable: true,
        }
    });
    swiper.on('activeIndexChange', function () {
        swiper.updateSlidesClasses();
        document.getElementById('ProjImagePath').value = document.getElementsByClassName('swiper-slide-active')[0].id;
    });
</script>