@model Geekon.Models.Projects

@{
    ViewData["Title"] = "Index";
}

<link href="~/css/Project.css" rel="stylesheet" />

<div class="grid-cont">
    <div class="grid-item main">
        <div id="placeholderForTasks" data-id="@Model.ProjectId" class="items"></div>
    </div>
</div>

<script src="~/js/Project.js"></script>