@model IEnumerable<string>


@foreach (var e in Model)
{
    <li>
        <div class="all-icon-user-in-proj">
            <i class='bx bx-user'></i>
        </div>
        <div class="text-user-in-proj">
            @e
        </div>
    </li>
} 