@using Microsoft.AspNetCore.Identity;
@using Geekon.Data;
@model IEnumerable<ApplicationUser>


@foreach (var e in Model)
{
    <li>
        <div class="all-icon-user-in-proj">
            <i class='bx bx-user'></i>
        </div>
        <div style="flex-direction:column; width:85%">
            <div class="text-user-in-proj">@e.Name</div>
            <div class="text-user-in-proj" style="font-size:14px;">@e.Email</div> 
        </div>
    </li>
} 