@model IEnumerable<Geekon.Models.ProjectUsers>

@{
    ViewData["Title"] = "Index";
}
<div style="padding: 50px;">
    <h1>Masha lychshe vsex</h1>
    <div class="projContainer">
        <div class="proj projCreate" style="background-color:lightgray; display:flex; justify-content:center; align-items:center;" onclick="location.href='https://www.google.com/'">
            <i class='bx bxs-plus-circle' style="font-size:97px; color:white;"></i>
        </div>
        <div class="proj" style="background: url('https://wallpaperboat.com/wp-content/uploads/2020/04/green-aesthetic-wallpaper-for-pc.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://s1.best-wallpaper.net/wallpaper/m/1911/Many-green-clovers_m.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://wallpaperaccess.com/full/1378156.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div><div class="proj" style="background: url('https://wallpaperaccess.com/full/1516567.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://p4.wallpaperbetter.com/wallpaper/302/505/93/dark-reflection-forest-trees-wallpaper-preview.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://i.pinimg.com/736x/11/96/be/1196be2e2beae3e0376637776225272f.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://i.pinimg.com/originals/22/b8/ff/22b8ffb60892118a24eed6024b953120.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://wallpaperboat.com/wp-content/uploads/2020/04/green-aesthetic-wallpaper-for-pc.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://s1.best-wallpaper.net/wallpaper/m/1911/Many-green-clovers_m.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://wallpaperaccess.com/full/1378156.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://images.pexels.com/photos/1083822/pexels-photo-1083822.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div><div class="proj" style="background: url('https://wallpaperaccess.com/full/1516567.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://p4.wallpaperbetter.com/wallpaper/302/505/93/dark-reflection-forest-trees-wallpaper-preview.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://i.pinimg.com/736x/11/96/be/1196be2e2beae3e0376637776225272f.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
        <div class="proj" style="background: url('https://i.pinimg.com/originals/22/b8/ff/22b8ffb60892118a24eed6024b953120.jpg'); background-size: contain; ">
            <div class="projSlider">
                <div class="projName">Name Project</div>
                <div class="projLine"></div>
                <div class="projCreationDate">12.08.2020</div>
                <div class="projOwnerInfo">
                    <div class="projOwnerPhoto"></div>
                    <div>
                        <div class="projOwnerName">sdfghjk</div>
                        <div class="projOwnerEmail">dartyuio@sdfghj</div>
                    </div>
                </div>
            </div>
            <i class='bx bx-folder projFolder' title="Project Folder"></i>
        </div>
    </div>
</div>