@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />

<form id="change-password-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="user-input-data">
        <input asp-for="Input.OldPassword" required>
        <div class="underline"></div>
        <label asp-for="Input.OldPassword"></label>
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="user-input-data">
        <input asp-for="Input.NewPassword" required>
        <div class="underline"></div>
        <label asp-for="Input.NewPassword"></label>
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="user-input-data">
        <input asp-for="Input.ConfirmPassword" required>
        <div class="underline"></div>
        <label asp-for="Input.ConfirmPassword"></label>
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="save-button">Update password</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}