@page
@model EmailModel
@{
    ViewData["Title"] = "Manage Email";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />

<form id="email-form" method="post">
    <div asp-validation-summary="All" class="text-danger"></div>
    <div class="user-input-data">
        <input asp-for="Email" disabled>
        <div class="underline"></div>
        <label asp-for="Email" style="margin-bottom: 25px; font-size:20px;"></label>
    </div>
    <div class="user-input-data">
        <input asp-for="Input.NewEmail" required>
        <div class="underline"></div>
        <label asp-for="Input.NewEmail"></label>
        <span asp-validation-for="Input.NewEmail" class="text-danger"></span>
    </div>
    <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="save-button">Change email</button>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
