@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<form id="profile-form" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="user-input-data">
        <input asp-for="Input.Name" >
        <div class="underline"></div>
        <label asp-for="Input.Name" ></label>
    </div>
    <button id="update-profile-button" type="submit" class="save-button">Save</button>
</form>
  

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}