@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<div class="gradient">
    <div style=" height: 70vh; width: 60%; display: flex; background-color:black; color:white; flex-direction:column;justify-content:center; padding:60px;">
        <h1 class="text-danger">@ViewData["Title"]</h1>
        <p class="text-danger">You do not have access to this resource.</p>
    </div>
</div>
