@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}


<div class="gradient">
    <div style=" height: 70vh; width: 60%; display: flex; background-color:black; color:white; flex-direction:column;justify-content:center; padding:60px;">
        <h1>@ViewData["Title"]</h1>
        <partial name="_StatusMessage" model="Model.StatusMessage" />
    </div>
</div>