.grid-cont {
    background: url("../projBack/forest2.jpg");

    background-size:cover;
    background-repeat:no-repeat;
}
.items {
    position: relative;
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    transition: all 0.2s;
    transform: scale(0.98);
    height: 100vh;
}

.items.active {
    background: rgba(255,255,255,0.2);
    transform: scale(1);
}

.item {
    display: inline-block;
    background-color: #bbbbbbad;
    min-height: 250px;
    max-height: 90vh;
    width: 300px;
    margin: 20px 10px;
    overflow: hidden;
    vertical-align: top;
    border-radius: 10px;
}

.item-name-text {
    background-color: #555555;
    color: white;
    height:30px;
    width:100%;

    display: flex;
    justify-content:space-between;
    align-items:center;

    padding:0px 10px;
}

.item-options-lines {
    height: 25px;
    width: 25px;
    border-radius: 5px;
    display:flex;
    justify-content:center;
    align-items:center;
    cursor:pointer;
}

.lines {
    font-size: 20px;
}

    .item-options-lines:hover {
        background-color: white;
    }

    .item-options-lines:hover .lines {
        color: #555555;
    }

.sub-item-container {
    overflow-x: hidden;
    max-height: 83vh;
    padding-right: 20px;
}

.sub-item {
    height: 50px;
    width: 100%;
    background-color: rgb(15 49 28);
    margin: 10px;
    border-radius: 10px;
    padding:5px;

    color: white;
    font-size:16px;
    cursor: pointer;

    display:flex;
    flex-direction:row;
    justify-content:space-between;
}

.sub-item-header {
    display:flex;
    flex-direction:column;
}

.sub-item-progress {
    display:flex;
    justify-content:center;
    align-items:center;
}

.sub-item-progress i {
    font-size:24px;
}

.sub-item-date {
    font-size:12px;
}

.myy {
    background-color: #92ac6d;
}