@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

<div class="sidebar">
    <div class="logo-details">
        <img src="~/geekOnW.png" class="logo_name" style="height:40px;" />
        <i class='bx bx-menu' id="btn"></i>
    </div>
    <ul class="nav-list">
        @*<li>
            <i class='bx bx-search'></i>
            <input type="text" placeholder="Search...">
            <span class="tooltip">Search</span>
        </li>*@
        <li>
            <a asp-controller="Home" asp-action="Index">
                <i class='bx bx-home'></i>
                <span class="links_name">Home page</span>
            </a>
            <span class="tooltip">Home page</span>
        </li>
        <li>
            <a asp-controller="ProjectUsers" asp-action="Index">
                <i class='bx bx-grid-alt'></i>
                <span class="links_name">Progects</span>
            </a>
            <span class="tooltip">Projects</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-user'></i>
                <span class="links_name">User</span>
            </a>
            <span class="tooltip">User</span>
        </li>
        <li>
            <a href="#">
                <i class='bx bx-pie-chart-alt-2'></i>
                <span class="links_name">Analytics</span>
            </a>
            <span class="tooltip">Analytics</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <!--<img src="profile.jpg" alt="profileImg">-->
                <div class="name_job">
                    <div class="name">@SignInManager.UserManager.GetUserAsync(User).Result.Email</div>
                    <div class="job">User</div>
                </div>
            </div>
            <i class='bx bx-log-out' id="log_out"></i>
        </li>
    </ul>
</div>